<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ダウンロード画面</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <nav>
        <ul>
            <!-- <li><a href="#">アップロード</a></li>
            <li><a href="/result">編集結果</a></li> -->
        </ul>
    </nav>
    <main>
        <h2 class="title">画像のアップロード</h2>
        <form action="" id="">
            <input type="file" accept=".png, .jpg, .jpeg">
            <br>
            <button>アップロード</button>
            <p>※1MB以下で選択してください</p>
        </form>
    </main>
    <script src="../static/main.js"></script>
</body>
</html>